<div class="wrapper">
    <div class="page-header" style="background-image: url('assets/img/ghn-home-img1.png');">
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">

                    </div>
                    <h1 class="presentation-title"></h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center"></h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class="category-absolute ml-auto mr-auto d-flex justify-content-center">
            Designed and coded by
            <a href="https://www.facebook.com/tan.nguyen180301" target="_blank">
                <h6 class="ml-1">
                    Shiba9duoi
                </h6>
            </a>
        </h6>
    </div>
    <div class="main">
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title font-weight-bold" style="color: #00467f;">GIAO NHANH HƠN 6 TIẾNG</h2>
                        <h5 class="description">GHN giúp bạn giao hàng đến người nhận nhanh hơn 6 tiếng so với các đơn
                            vị vận chuyển khác.</h5>
                        <br>
                        <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
                    </div>
                    <video class="w-100" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
                        <source src="assets/img/video-home.mp4" type="video/mp4">
                    </video>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <img width="70" height="70" src="assets/img/top-1.png" alt="" />
                            </div>
                            <div class="desc-policy mt-3">
                                <p class="font-weight-bold">
                                    Top công ty giao
                                    <br>
                                    nhận hàng đầu VN.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <img width="70" height="70" src="assets/img/location-policy.png" alt="" />
                            </div>
                            <div class="desc-policy mt-3">
                                <p class="font-weight-bold">
                                    Mạng lưới phủ sóng
                                    <br>
                                    100% 63 tỉnh thành.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <img width="70" height="70" src="assets/img/remake-order.png" alt="" />
                            </div>
                            <div class="desc-policy mt-3">
                                <p class="font-weight-bold">
                                    Giao hàng nhanh
                                    <br>
                                    Tỷ lệ hoàn hàng thấp.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <img width="70" height="70" src="assets/img/phone-setting.png" alt="" />
                            </div>
                            <div class="desc-policy mt-3">
                                <p class="font-weight-bold">
                                    Hệ thống quản lý
                                    <br>
                                    trực tuyến 24/7
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="section text-center">
                <div class="container section text-center">
                    <h3 class="title font-weight-bold">Bản đồ bưu cục GHN</h3>
                    <div class="row">
                        <div class="map-section w-100">
                            <iframe style="border:0; width: 100%; height: 350px;" loading="lazy"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.101268361889!2d105.80089971095667!3d21.068617186327298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aadd3ce2b991%3A0x216d24e71dd7a895!2zNGIyIE5nLiA0MCDEkC4gWHXDom4gTGEsIFh1w6JuIMSQ4buJbmgsIELhuq9jIFThu6sgTGnDqm0sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1718045775879!5m2!1svi!2s"
                                frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>