<nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand p-0 m-0" href="~/"><img src="assets/img/ghn-logo.png" alt="brand"></a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': isActiveMenu('/public/home')}" rel="tooltip" placement="bottom" ngbTooltip="Trang chủ"
                        routerLink="/public/home">
                        Trang chủ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': isActiveMenu('/public/create-order')}" ngbTooltip="Tạo đơn hàng" placement="bottom"
                        routerLink="/public/create-order">
                        Thao tác đơn hàng
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': isActiveMenu('/public/order')}" ngbTooltip="Tất cả đơn hàng" placement="bottom"
                        routerLink="/public/order">
                        Đơn hàng
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Trang chủ" data-placement="bottom"
                        routerLink="/public/home">
                        Hỗ trợ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Trang chủ" data-placement="bottom"
                        routerLink="/public/home">
                        Thông tin
                    </a>
                </li> -->
                <ng-container *ngIf="isLoggedIn; else elseTemplate">
                    <div class="user-info">
                        <div class="avatar avatar-logo"><img
                                src="https://cdn.ghn.vn/online-static/fe-5sao/1.23.0/media/user.c57d53db.svg"
                                alt="logo"></div>
                        <div class="name-user"><a routerLink="/public/profile">
                                <div style="font-weight: 600;">{{userName}}</div>
                            </a><button (click)="onLogout()" class="btn btn-link m-0 p-0">
                                <div style="font-weight: 600; color: rgb(255, 199, 0);">Đăng xuất<i
                                        class="fas fa-user-tie"></i></div>
                            </button>
                        </div>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <li class="nav-item">
                        <a class="btn btn-danger btn-round" routerLink="/public/signin">Đăng nhập</a>
                    </li>
                </ng-template>


            </ul>
        </div>
    </div>
</nav>