.row-flex {
	display: -webkit-flex;
	display: flex;
}
.advantage-box {
	text-align: center;
	display: block;
	background: #FFFFFF;
	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
	border-radius: 40px 0 40px 40px;
	padding: 30px;
	text-align: center;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: relative;
	overflow: hidden;
	height: 100%;
}
.advantage-box:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	border-radius: 40px 0 40px 40px;
	background-image: linear-gradient(135deg, #00467f 0%, rgba(7, 79, 128, 0.8) 100%);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	opacity: 0;
}
.advantage-box .advantage-ico {
	width: 67px;
	height: 67px;
	line-height: 65px;
	margin: auto;
	position: relative;
	margin-bottom: 20px;
	background: #edf7fd;
	border-radius: 22px 0 22px 22px;
}
.advantage-box .advantage-ico img {width: 35px;}
.advantage-box .advantage-desc h3 {
	font-weight: 400;
	font-size: 18px;
	height: 42px;
	color: #00467f;
	margin-bottom: 15px;
	position: relative;
	z-index: 2;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.advantage-box .advantage-desc p {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.3px;
	line-height: 26px;
	position: relative;
	z-index: 2;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin-bottom: 20px;
}
.advantage-box:hover:before {opacity: 1;}
.advantage-box:hover .advantage-desc h3,
.advantage-box:hover .advantage-desc p {
	color: #fff;
}
@media (max-width:991px) {
	.row-flex {flex-wrap: wrap;justify-content: center;}
	.row-flex .col {margin-bottom: 30px;}
}
@media (min-width: 992px) {
	.col {width: 100%;}
}

.col {width: 100% !important;}

.card-post-order{
    width: 100%;
    font-weight: 600 !important;
}

.stacked-form {
    max-height: 100%;
    overflow: auto;
}
.form-group {
    margin-bottom: 2rem;
}
.card .card-body .control-label {
    text-align: right;
    line-height: 2rem;
}
.card-header {
    padding: 0 0.5rem 0.5rem 0;
}
.card-title {
    font-weight: bold;
    color: #fff;
}
.process-bar {
    display: -webkit-flex;
    display: flex;
}
.process-bar .process-step {
    position: relative;
    margin: 30px 0 0;
    width: 100%;
}
.process-bar .process-step .ic-step {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    border: 5px solid #00467f;
    margin: auto;
    padding: 20px;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.35s ease;
}
.process-bar .process-step .title-step {
    margin-top: 50px;
    padding: 0 15px;
    text-align: center;
    font-size: 13px;
}
.process-bar .process-step .title-step h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 600;
    margin: 0 0 13px 0;
}
.dt-width-auto {
    width: auto;
    height: auto;
}
.process-bar .process-step {position: relative;margin: 30px 0 0;width: 100%;}
.process-bar .process-step:not(:last-child):before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50px;
	transform: translateY(0);
	background: rgba(7, 79, 128, 0.7);
	width: 100%;
	height: 5px;
	z-index: 1;
}
 .process-bar .process-step:hover .ic-step {
	transform: scale(1.1, 1.1);
}
.process-bar .process-step:hover img {
	transition: -webkit-transform 0.4s ease-out;
	transition: transform 0.4s ease-out;
	transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
	-webkit-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
}

.btn-submit{
    width: 10rem;
}
::ng-deep .nav-tabs.step-anchor {
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    margin-bottom: 5rem;
}

::ng-deep .nav-tabs.step-anchor .nav-item {
    position: relative;
    flex-grow: 1;
    text-align: center;
}

::ng-deep .nav-tabs.step-anchor .nav-item::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    background-color: #e0e0e0;
    z-index: -1;
    transform: translateX(-50%);
}

::ng-deep .nav-tabs.step-anchor .nav-item:not(:first-child)::after {
    left: 0;
    width: 100%;
}

::ng-deep .nav-tabs.step-anchor .nav-item:first-child::after {
    display: none;
}

::ng-deep .nav-tabs.step-anchor .nav-item .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #f0f0f0;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    z-index: 1;
}

::ng-deep .nav-tabs.step-anchor .nav-item .nav-link small {
    position: absolute;
    top: 4rem;
	font-weight: inherit;
	color: initial;
    white-space: nowrap;
}

::ng-deep .nav-tabs.step-anchor .nav-item.active .nav-link {
    border: 2px solid #00467f;
    color: #4a90e2;
}

::ng-deep .nav-tabs.step-anchor .nav-item.completed .nav-link {
    background-color: #00467f;
    color: #fff;
}
::ng-deep .nav-tabs.step-anchor .nav-item.done .nav-link {
    background-color: #00467f;
    color: #fff;
}

::ng-deep .nav-tabs.step-anchor .nav-item.active::after,
::ng-deep .nav-tabs.step-anchor .nav-item.completed::after,
::ng-deep .nav-tabs.step-anchor .nav-item.done::after {
    background-color: #00467f;
}

.btn-outline-blue {
    color: #0d6ce1;
    border-color: #5a9beb;
    background-color: transparent;
}
.border-2 {
    border-width: 2px!important;
    border-style: solid!important;
    border-color: transparent;
}
.bgc-white {
    background-color: #fff!important;
}


.text-green-d1 {
    color: #277b5d!important;
}
.letter-spacing {
    letter-spacing: .5px!important;
}
.font-bolder, .text-600 {
    font-weight: 600!important;
}
.text-170 {
    font-size: 1.7em!important;
}

.text-purple-d1 {
    color: #6d62b5!important;
}

.text-primary-d1 {
    color: #276ab4!important;
}
.text-secondary-d1 {
    color: #5f718b!important;
}
.text-180 {
    font-size: 1.8em!important;
}
.text-150 {
    font-size: 1.5em!important;
}
.text-danger-m3 {
    color: #e05858!important;
}
.rotate-45 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.position-l {
    left: 0;
}
.position-b, .position-bc, .position-bl, .position-br, .position-center, .position-l, .position-lc, .position-r, .position-rc, .position-t, .position-tc, .position-tl, .position-tr {
    position: absolute!important;
    display: block;
}
.mt-n475, .my-n475 {
    margin-top: -2.5rem!important;
}
.ml-35, .mx-35 {
    margin-left: 1.25rem!important;
}

.text-dark-l1 {
    color: #56585e!important;
}
.text-90 {
    font-size: .9em!important;
}
.text-left {
    text-align: left!important;
}

.mt-25, .my-25 {
    margin-top: .75rem!important;
}

.text-110 {
    font-size: 1.1em!important;
}

.text-210 {
    font-size: 2em!important;
}

.deleted-text{
text-decoration:line-through;;    
}
