<footer id="footer" class="footer">
	<div class="footer-center desktop hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg">
					<div class="footer-col">
						<div class="line-footer footer-title">
							<div class="logo-footer">
								<img width="60" height="40" src="//theme.hstatic.net/200000472237/1001083717/14/logo-footer_small.png?v=592" alt="Giao hàng nhanh">
							</div>
							<h4>TRẢI NGHIỆM TỐT HƠN VỚI <br> APP GIAOHANGNHANH</h4>
						</div>
						<div class="footer-content toggle-footer">
							<div class="line-footer">
								<a href="https://apps.apple.com/us/app/ghn-express-giao-h%C3%A0ng-nhanh/id1203171490" class="logo-app">
									<img class="lazyload bigloaded" width="135" height="40" data-src="https://file.hstatic.net/1000376681/file/icon_app_store_82f9b10bf8d14389bb8c27ec885aceed.svg" src="https://file.hstatic.net/1000376681/file/icon_app_store_82f9b10bf8d14389bb8c27ec885aceed.svg">
								</a>
								<a href="https://play.google.com/store/apps/details?id=vn.ghn.app.giaohangnhanh" class="logo-app">
									<img class="lazyload bigloaded" width="135" height="40" data-src="https://file.hstatic.net/1000376681/file/ico_google_play_f448c837674141469d3a903348361c5b.svg" src="https://file.hstatic.net/1000376681/file/ico_google_play_f448c837674141469d3a903348361c5b.svg">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg">
					<div class="footer-col footer-social">
						<h4 class="footer-title">KẾT NỐI VỚI GHN</h4>
						<div class="footer-content toggle-footer">
							<div class="list-social">
                                <a class="nav-link" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                <a class="nav-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a class="nav-link" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a class="nav-link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg">
					<div class="footer-col">
						<h4 class="footer-title">HỆ THỐNG BƯU CỤC GHN</h4>
						<div class="footer-content toggle-footer">
							<a href="https://ghn.vn/blogs/he-thong-buu-cuc" class="btn btn-danger">Tìm địa chỉ gần bạn</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12 col-left">
					<p>Bản quyền thuộc về Giao Hàng Nhanh © 2019</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 col-right">
					<p>Powered by 
						<a href="https://www.haravan.com/" target="blank">Haravan Enterprise. </a>
						<a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=45081" class="logo-cn">
							<img class="lazyload bigloaded" width="92" height="35" data-src="//theme.hstatic.net/200000472237/1001083717/14/logo-bct.png?v=592" alt="Bộ công thương" src="//theme.hstatic.net/200000472237/1001083717/14/logo-bct.png?v=592">
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>